span, input, textarea {
  display: block;
  padding: 2px;
  padding-bottom: 0px;
  color: black;
  font-size: 16px;
}

span {
  font-size: 14px;
  color: grey;
  padding: 0px;
}

input {
  width: 100%;
  border: 0px solid grey;
  border-bottom: 2px solid grey;
  background-color: inherit;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  resize: none;
  border: 0;
  box-sizing: border-box;
}

table, tr, td {
  border: 0px solid black;
}

table {
  width: 700px;
  border-top: 3px solid green;
  border-bottom: 3px solid green;
}

table:nth-child(2n) {
  background-color: blanchedalmond;
}

hr {
  margin-top: 0px;
}

img {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  cursor: pointer;
}

.noBorder {
  border: 0;
}