// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@font-face {
  font-family: 'Montserrat';
  src: url('~@/fonts/Montserrat-Light.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Open sans';
  src: url('~@/fonts/OpenSans-Light.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Open sans';
  src: url('~@/fonts/OpenSans-Bold.ttf');
  font-weight: bold;
}